<?xml version="1.0"?>

<launch>

  <!-- We test here ICP odometry using a guess from visual odometry -->
  <node pkg="rtabmap_odom" type="rgbdicp_odometry" name="rgbdicp_odometry" output="screen">
    <remap from="scan"        to="/diffbot/scan"/>
    <remap from="depth/image"       to="/camera/aligned_depth_to_color/image_raw"/>
    <remap from="rgb/camera_info"   to="/camera/color/camera_info"/>
    <remap from="rgb/image"         to="/camera/color/image_raw"/>

    <remap from="odom" to="/diffbot/odom_rgbdicp"/>

    <param name="publish_tf" type="bool" value="false"/>

    <param name="frame_id"        type="string" value="base_footprint"/>
    <param name="scan_normal_k"   type="int" value="10"/>

    <param name="Odom/Strategy" type="string" value="1"/>
    <param name="Icp/PointToPlane"  type="string" value="true"/>
    <param name="Icp/VoxelSize"     type="string" value="0"/>
  </node>


  <!-- We just use odometry without rtabmap node, so set a static /map->/odom
       transform so that rviz config below works out-of-the-box -->
  <!--node pkg="tf" type="static_transform_publisher" name="map_odom"
        args="0 0 0 0 0 0 map odom 100" /-->

</launch>
