<launch>
  <!--
  <node name="map2world" pkg="tf" type="static_transform_publisher" 
        args="0 0 0 0 0 0 map world 100" />


  <node name="body2footprint" pkg="tf" type="static_transform_publisher" 
        args="0 -0.2 0 0 -1.5707963 1.5707963 body base_footprint 100" />
-->
  <node name="imu_link2imu" pkg="tf" type="static_transform_publisher" 
  args="0 0 0 0 0 0 imu_link imu 200" />
  
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find diffbot_slam)/config/localization_wheel_only.yaml" />

    <remap from="odometry/filtered" to="/diffbot/odom_combined"/>


  </node>
  
</launch>
